@font-face{
    font-family: 'AirbnbCerealMedium';
    src: url('../asset/font/AirbnbCerealMedium/AirbnbCerealMedium.ttf');
}

*{
    margin: 0;
    padding: 0;
    font-family: AirbnbCerealMedium;
}

.bodyContent{
    position: absolute;
    /* border: 2px solid; */
    width: 100%;
    height: 100%;
    background-color: rgb(235, 235, 235);
}

.titleList{
    position: absolute;
    left: 33%;
}
.header{
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    z-index: 1;
    position: fixed;
    top: 0;
}
.cartHeader{
    position: absolute;
    width: 25%;
    height: 80px;
    right: 0;
    top: 0;
    border-left: 1px solid rgba(212, 212, 212, 0.25);
}

.elipse{
    position: relative;
    bottom: 48%;
    left: 60%;
    line-height: 25px;
    width: 25px;
    height: 25px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 50%;
    background-color: aqua;
    color: white;
}

.sideBar{
    position: fixed;
    width: 80px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    bottom: 0;
    z-index: 1;
}

.cartBar{
    position: fixed;
    width: 25%;
    height: 100px;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
    text-align: center;
}

.iconEmpty{
    width: 150px;
    margin-top: 80px;
}
.imgSearch{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 27%;
    top: 23%;
    cursor: pointer;
    background-color: #fff;
}

.inputSearch{
    position: absolute;
    right: 29%;
    top: 20px;
    width: 0px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid  rgb(228, 226, 226);;
    outline:none;
    background-color: rgb(247, 247, 247);
    top: 30%;
    transition: 1s;
    padding-left: 10px;
    color: rgb(126, 126, 126);
    font-size: 15px;
    font-family: OpenSans-Regular;
}

.active{
    right: 31%;
    width: 280px;
}

.imgMenu{
    position: absolute;
    left: 25px;
    top: 30%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.title{
    margin-top: 18px;
    font-size: 30px;
}

.iconBar{
    width: 35px;
    height: 35px;
    margin-top: 50px;
    margin-left: 20px;
    cursor: pointer;
}
.textCart{
    color: #CECECE;
}

.content{
    /* border: 2px solid; */
    width: 69%;
    max-width: 69%;
    margin-top: 80px;
    margin-left: 80px;
    background-color: rgb(235, 235, 235);
    padding-bottom: 10px;
}

.listContent{
    float: left;
    margin-left: 55px;
    margin-top: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* border: 2px solid; */
    text-align: center;
    overflow: hidden;
    width: 240px;
    max-width: 240px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

}

.slideBack{
    position: absolute;
    width: 240px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: black;
    opacity: .5;
    display: none;
}

.tick{
    margin-top: 35%;
}

.slideBackActive{
    display: block;
}

.price{
    font-weight: bold;
    font-size: 18px;
    margin-top: -20px;
    margin-bottom: 0;
}
.imgContent{
    margin-top: 10px;
    height: 190px;
    max-width: 220px;
    max-height: 190px;
    cursor: pointer;
}

.sidebarBox{
    position: fixed;
    height: 100%;
    width: 15%;
    top: 0;
    left: -40%;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 999;
    transition: .5s;
}

.activeBar{
    top: 0;
    left: 0;
}

.backSide{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    z-index: 2;
    opacity: .5;
}

.slide{
    opacity: 0;
    display: none;
}

.iconBarBox{
    width: 35px;
    height: 35px;
    margin-top: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.boxMenu{
    border-bottom: 0px solid rgb(141, 141, 141);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.btnMenu{
    width: 25px;
    height: 25px;
    margin-top: 11.5%;
    margin-left: 25px;
    margin-bottom: 30px;
    cursor: pointer;
}
.boxIcon{
    border-bottom: 1px solid rgb(226, 226, 226);
    cursor: pointer;
    transition: .3s;
}

.boxIcon:hover{
    background-color: rgb(235, 235, 235);
}

.titleIcon{
    position: relative;
    left: 80px;
    bottom: 25px;
}

.titleBtnMenu{
    position: absolute;
    left: 80px;
    top: 25px;
}

.titleImg{
    margin-top: 10px;
    font-size: 15px;
}

.ContentCart{
    /* border: 2px solid; */
    height: 70%;
    overflow: scroll;
    overflow-x: hidden;
}

.listCart{
    height: 22%;
    margin-top: 10px;
    display: flex;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin-left: 5px;
}

.boxDelete{
    position: absolute;
    z-index: 9;
    right: 0;
    width: 30%;
    height: 100%;
    opacity: 0;
    transition: .5s;
}

.boxDelete:hover{
    opacity: 1;
}

.deleteCart{
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    line-height: 85px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

.titleProductCart{
    position: absolute;
    left: 80px;
    margin-left: 12px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    max-height: 38px;
    overflow: hidden;
}

.boxPrice{
    position: absolute;
    right: 10px;
    bottom: 0;
    display: flex;
    /* border: 1px solid; */
    width: 65%;
    background-color: white;
}

.addqty{
    display: flex;
    border: 1px solid #82DE3A;
    width: 50%;
    color: #82DE3A;
    font-weight: bold;
    margin-bottom: 5px;
}

.plus{
    border: 1px solid #82DE3A;
    width: 35%;
    cursor: pointer;
}

.plus:hover{
    background-color: rgba(85, 177, 15, 0.452);
}

.plus:active{
    background-color: rgb(59, 128, 6);
}

.qty{
    border: 1px solid #82DE3A;
    width: 35%;
}

.minus{
    border: 1px solid #82DE3A;
    width: 35%;
    cursor: pointer;
}

.minus:hover{
    background-color: rgba(85, 177, 15, 0.452);
}

.minus:active{
    background-color: rgb(59, 128, 6);
}

.pricelistcart{
    position: absolute;
    right: 0;
}

.imgCartList{
    /* width: 70px; */
    max-width: 90px;
    max-height: 86px;
}

.btnCart{
    height: 100%;
    background-color: white;
    width: 90%;
    position: relative;
    left: 5%;
}

.titleTotalprice{
    font-weight: bold;
    text-align: left;
}

.totalPrice{
    position: absolute;
    right: 8px;
}

/* .boxTotalprice{
    border: 0px solid;
} */
.texPPN{
    font-size: 12px;
    text-align: left;
    margin-bottom: 3px;
}

.btn-primary{
    background-color: #57CAD5;
    border-color: #57CAD5;
}

.btn-primary:hover{
    background-color: rgb(51, 184, 196);
    border-color: rgb(51, 184, 196);
}

.btn-primary:focus{
    background-color: rgb(25, 152, 163);
    border-color: rgb(25, 152, 163);
}

.btn-secondary{
    background-color: #F24F8A;
    border-color: #F24F8A;
}

.btn-secondary:hover{
    background-color: rgb(209, 52, 110);
    border-color: rgb(209, 52, 110);
}

.btn-secondary:focus{
    background-color: rgb(168, 10, 68);
    border-color: rgb(168, 10, 68);
}

.modals{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.589);
    align-content: center;
}

.modalActive{
    display: block;
}

.content-modal{
    width: 40%;
    height: 70%;
    background-color: white;
    z-index: 999;
    margin: auto;
    text-align: center;
    margin-top: 2%;
    border-radius: 4px;
}

.titleAdd{
    padding: 10px;
    border-bottom: 2px solid rgb(192, 192, 192);
}

.formInput{
    /* border: 2px solid; */
    width: 80%;
    height: 80%;
    margin: auto;
    text-align: left;
    position: relative;
    
}

.labelInput{
    margin-top: 10px;
}

.chooseFile{
 margin-top: 20px;
 margin-bottom: 60px;
}

.btn-ok-add{
    position: absolute;
    right: 0;
    background-color: #57CAD5;
    bottom: 10px;
    width: 80px;
    color: white;
}

.btn-ok-add:hover{
    background-color: rgb(38, 179, 192);
    color: white;
}

.btn-ok-add:focus{
    background-color: rgb(29, 140, 150);
    color: white;
}

.btn-cancel-add{
    position: absolute;
    background-color: #F24F8A;
    right: 90px;
    bottom: 10px;
    color: white;
}

.btn-cancel-add:hover{
    background-color: rgb(214, 68, 122);
    color: white;
}
.btn-cancel-add:focus{
    background-color: rgb(175, 52, 97);
    color: white;
}

.modal-checkout{
    display: none;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: 999;
}

.modal-checkout-active{
    display: block;
}

.content-modal-checkout{
    position: fixed;
    top: 0;
    left: 30%;
    width: 40%;
    background-color: white;
    z-index: 999;
    margin: auto;
    margin-top: 5%;
    border-radius: 4px;
    text-align: center;
}

.box-content-checkout{
    margin: auto;
    width: 90%;
    height: 100%;
    /* border: 2px solid; */
}

.h3-checkout{
    margin-top: 10px;
}

.btn-checkout-print{
    background-color: #F24F8A;
    color: white;
    margin-bottom: 10px;
}

.btn-checkout-print:hover{
    background-color: rgb(209, 52, 110);
    border-color: rgb(209, 52, 110);
    color: white;
}
.btn-checkout-print:focus{
    background-color: rgb(168, 10, 68);
    border-color: rgb(168, 10, 68);
    color: white;
}

.btn-checkout-send{
    background-color: #57CAD5;
    border-color: #57CAD5;
    color: white;
    margin-top: -10px;
    margin-bottom: 20px;
}

.btn-checkout-send:hover{
    background-color: rgb(38, 179, 192);
    border-color: rgb(38, 179, 192);
    color: white;
}

.btn-checkout-send:focus{
    background-color: rgb(29, 140, 150);
    border-color: rgb(29, 140, 150);
    color: white;
}

.note-chackout{
    margin: auto;
}

.tabel-ckecout{
    color: #232323;
    border-collapse: collapse;
    margin: auto;
    text-align: left;
}

.table1, tr, td {
    border: 1px solid #999;
    padding: 8px 20px;
}

.theader{
    font-weight: bold;
    text-align: center;
}

.ppn{
    margin-top: 20px;
    
}

.total-price{
    margin-top: 10px;
    font-weight: bold;
}

.close-modal-checkout{
    position: absolute;
    color: rgb(179, 179, 179);
    right: 5px;
    top: 5px;
    width: 30px;
    cursor: pointer;
}

.close-modal-checkout:hover{
    color: black;
}

.box-empty{
    margin: auto;
    text-align: center;
    margin-top: 20%;
}


.box-day{
    /* Rectangle 9 */

position: absolute;
width: 272px;
height: 135px;
left: 110px;
top: 100px;

background: linear-gradient(285.38deg, #FBB2B4 30.05%, rgba(255, 143, 178, 0) 133.19%);
box-shadow: 10px 15px 10px rgba(255, 143, 178, 0.25);
border-radius: 10px;

}

.box-mon{
    /* Rectangle 9 */

position: absolute;
width: 272px;
height: 135px;
left: 415px;
top: 100px;

background: linear-gradient(285.38deg, #29DFFF 30.05%, rgba(41, 223, 255, 0) 133.19%);
box-shadow: 10px 15px 10px rgba(41, 223, 255, 0.25);
border-radius: 10px;

}

.box-year{
    /* Rectangle 9 */

position: absolute;
width: 272px;
height: 135px;
left: 720px;
top: 100px;

background: linear-gradient(285.38deg, #AB84C8 30.05%, rgba(241, 201, 236, 0) 133.19%);
box-shadow: 10px 15px 10px rgba(241, 201, 236, 0.25);
border-radius: 10px;

}

.content-card{
    padding: 10px;
    padding-left: 30px;
}

.lable-chart{
    margin-top: 10px;
    margin-left: 10px;
}

.chart{
    /* Rectangle 10 */

position: absolute;
width: 64.5%;
height: 322px;
left: 110px;
top: 252px;

background: #FFFFFF;
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
border-radius: 10px;

}

.Delete-Card{
    width: 50px;
    position: absolute;
    margin-left: 190px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    opacity: .2;
    cursor: pointer;
    transition: .5s;
}

.Delete-Card:hover{
    opacity: 1;
    background-color: rgba(228, 228, 228, 0.829);
}

.Delete-Card:active{
    background-color: rgba(247, 247, 247, 0.829);
}

.out-of-stock{
    border: 2px solid;
    position: absolute;
    margin-top: 100px;
    width: 240px;
    color: rgb(240, 27, 27);
    font-weight: bold;
    background-color: rgba(216, 216, 216, 0.603);
    cursor: pointer;
    display: none;
}

.out-of-stock:active{
    background-color: rgba(190, 190, 190, 0.603);
}

.update-stock{
    margin-top: -10px;
    margin-bottom: 0px;
    font-size: 15px;
}

.stock-active{
    display: block;
}










.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
