@font-face{
    font-family: 'AirbnbCerealMedium';
    src: url('../asset/font/AirbnbCerealMedium/AirbnbCerealMedium.ttf');
}

*{
    margin: 0;
    padding: 0;
    font-family: AirbnbCerealMedium;
}

.bodyContent{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(235, 235, 235);
}
.titleList{
    position: absolute;
    left: 33%;
}
.header{
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    z-index: 1;
    position: fixed;
}
.cartHeader{
    position: absolute;
    width: 25%;
    height: 80px;
    right: 0;
    top: 0;
    border-left: 1px solid rgba(212, 212, 212, 0.25);
}

.elipse{
    position: relative;
    bottom: 48%;
    left: 60%;
    line-height: 25px;
    width: 25px;
    height: 25px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 50%;
    background-color: aqua;
    color: white;
}

.sideBar{
    position: fixed;
    width: 80px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    bottom: 0;
    z-index: 1;
}

.cartBar{
    position: fixed;
    width: 25%;
    height: 100px;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
    text-align: center;
}

.iconEmpty{
    width: 150px;
    margin-top: 80px;
}
.imgSearch{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 27%;
    top: 23%;
    cursor: pointer;
    background-color: #fff;
}

.inputSearch{
    position: absolute;
    right: 29%;
    top: 20px;
    width: 0px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid  rgb(228, 226, 226);;
    outline:none;
    background-color: rgb(247, 247, 247);
    top: 30%;
    transition: 1s;
    padding-left: 10px;
    color: rgb(126, 126, 126);
    font-size: 15px;
    font-family: OpenSans-Regular;
}

.active{
    right: 31%;
    width: 280px;
}

.imgMenu{
    position: absolute;
    left: 25px;
    top: 30%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.title{
    margin-top: 18px;
    font-size: 30px;
}

.iconBar{
    width: 35px;
    height: 35px;
    margin-top: 50px;
    margin-left: 20px;
    cursor: pointer;
}
.textCart{
    color: #CECECE;
}

.content{
    width: 69%;
    max-width: 69%;
    margin-top: 80px;
    margin-left: 80px;
    background-color: rgb(235, 235, 235);
}

.listContent{
    float: left;
    margin-left: 55px;
    margin-top: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* border: 2px solid; */
    text-align: center;
    overflow: hidden;
    width: 240px;
    max-width: 240px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

}

.price{
    font-weight: bold;
    font-size: 18px;
    margin-top: -20px;
    margin-bottom: 0;
}
.imgContent{
    margin-top: 10px;
    height: 190px;
    max-width: 220px;
    max-height: 190px;
}

.sidebarBox{
    position: absolute;
    height: 100%;
    width: 15%;
    left: -40%;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 999;
    transition: .5s;
}

.activeBar{
    left: 0;
}

.backSide{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    z-index: 2;
    opacity: .5;
}

.slide{
    opacity: 0;
    display: none;
}

.iconBarBox{
    width: 35px;
    height: 35px;
    margin-top: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.boxMenu{
    border-bottom: 0px solid rgb(141, 141, 141);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.btnMenu{
    width: 25px;
    height: 25px;
    margin-top: 11.5%;
    margin-left: 25px;
    margin-bottom: 30px;
    cursor: pointer;
}
.boxIcon{
    border-bottom: 1px solid rgb(226, 226, 226);
}

.titleIcon{
    position: relative;
    left: 80px;
    bottom: 25px;
}

.titleBtnMenu{
    position: absolute;
    left: 80px;
    top: 25px;
}

.titleImg{
    margin-top: 10px;
    font-size: 15px;
}

.ContentCart{
    /* border: 2px solid; */
    height: 70%;
    overflow: scroll;
    overflow-x: hidden;
}

.listCart{
    height: 22%;
    margin-top: 10px;
    display: flex;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin-left: 5px;
}

.titleProductCart{
    margin-left: 10%;
    margin-top: 5px;
}

.boxPrice{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    /* border: 1px solid; */
    width: 65%;
}

.addqty{
    display: flex;
    border: 1px solid #82DE3A;
    width: 50%;
    color: #82DE3A;
    font-weight: bold;
    margin-bottom: 5px;
}

.plus{
    border: 1px solid #82DE3A;
    width: 35%;
    cursor: pointer;
}

.plus:hover{
    background-color: rgba(85, 177, 15, 0.452);
}

.plus:active{
    background-color: rgb(59, 128, 6);
}

.qty{
    border: 1px solid #82DE3A;
    width: 35%;
}

.minus{
    border: 1px solid #82DE3A;
    width: 35%;
    cursor: pointer;
}

.minus:hover{
    background-color: rgba(85, 177, 15, 0.452);
}

.minus:active{
    background-color: rgb(59, 128, 6);
}

.pricelistcart{
    position: absolute;
    right: 0;
}

.imgCartList{
    max-width: 100px;
}

.btnCart{
    height: 100%;
    background-color: white;
    width: 90%;
    position: relative;
    left: 5%;
}

.titleTotalprice{
    font-weight: bold;
    text-align: left;
}

.totalPrice{
    position: absolute;
    right: 8px;
}

/* .boxTotalprice{
    border: 0px solid;
} */
.texPPN{
    font-size: 12px;
    text-align: left;
    margin-bottom: 3px;
}

.btn-primary{
    background-color: #57CAD5;
    border-color: #57CAD5;
}

.btn-primary:hover{
    background-color: rgb(25, 152, 163);
    border-color: rgb(25, 152, 163);
}

.btn-primary:focus{
    background-color: rgb(25, 152, 163);
    border-color: rgb(25, 152, 163);
}

.btn-secondary{
    background-color: #F24F8A;
    border-color: #F24F8A;
}

.btn-secondary:hover{
    background-color: rgb(168, 10, 68);
    border-color: rgb(168, 10, 68);
}

.btn-secondary:focus{
    background-color: rgb(168, 10, 68);
    border-color: rgb(168, 10, 68);
}